# Simple workflow for deploying static content to GitHub Pages
name: Builds and publishes PDFs

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
  - cron: "44 4 * * *"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  packages: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  create-container:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      ANT_OPTS: -Xmx6g
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Fetch data
        run: ./fetch_data.sh
      - name: Build Tex files from TEIs
        run: ant
      - name: Install TeX Live (xelatex)
        run: sudo apt-get update && sudo apt-get install -y texlive-xetex texlive-fonts-recommended
      - name: Create PDFs
        run: ./make_pdf.sh
      - name: zip pdfs
        run: zip ./html/pdfs.zip ./html/*.pdf
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload entire repository
          path: './html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
